html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url('../img/grave_background.jpg');
	background-size: cover;
}

#canvas {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	border: 1px solid black;
	background-image: url('../img/Ground_02.png');
	background-size: 200px ;
	background-repeat: repeat;
}

#splash-screen,
#pause-screen,
#key-screen,
#win-screen,
#lose-screen,
#trap-screen,
#next-level-screen  {
	width: 1200px;
	height: 800px;
	font-family: 'Work Sans';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.9);
	color: white;
	padding: 100px;
	border-radius: 10px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

#splash-screen{
	background-image: url('../img/graves.png');
	background-size: cover;
	border-radius: 0px;
	font-weight: 700;

}

#lose-screen {
	color: red;
}

#pause-screen,
#key-screen {
	width: 500px;
	height: 300px;
	display: none;
}

#win-screen,
#lose-screen,
#trap-screen,
#next-level-screen {
	display: none;
}

#win-screen,
#next-level-screen {
	background-color: rgba(49, 245, 10, 0.9);
	color: black;
	font-size: 50px;
	font-family: 'Work Sans';
}


#gem {
	position: absolute;
	top: 78%;
	left: 32%;
	transform: translate(-50%, -50%);
	z-index: 2;
}