html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../img/grave_background.jpg");
    background-size: cover;


}


#main-canvas {
    width: 1200px;
    height:800px;
    border: 1px solid black;
    opacity: 0.5;
    background-color: white;

}